[Unit]
Description=Cassandra Database
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
Restart=always
RestartSec=5s

ExecPreStart -= /usr/bin/docker rm cassandra

ExecStart=/usr/bin/docker run --rm \
-p 9160:9160 \
-p 9042:9042 \
-p 7000:7000 \
-p 7001:7001 \
-p 7199:7199 \
-p 61621:61621 \
-v /var/lib/cassandra/:/var/lib/cassandra/ \
-v /var/log/cassandra/:/var/log/cassandra/ \
--name cassandra \
--net=host \
-e SEEDS=cassandra-01 \
-e OPS_IP=datastax-opscenter \
datastax-cassandra

ExecStop=/usr/bin/docker stop cassandra

[Install]
WantedBy=multi-user.target
